* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #5ca08e, #f0f5c9);
}
.container {
  width: 450px;
  border-radius: 8px;
  padding: 12px;
  background-color: aliceblue;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
.add-task {
  display: flex;
  align-items: center;
  width: 100%;
}
.add-task input {
  padding: 8px 10px;
  width: 100%;
  border: 2px solid #5ca08e;
  font-size: 16px;
}
.add-task input:focus {
  outline: none;
  border: 2px solid #417f6c;
}
.add-task button {
  padding: 8px 10px;
  min-width: 100px;
  background-color: #5ca08e;
  color: aliceblue;
  font-weight: 600;
  font-size: 16px;
  border: 2px solid #5ca08e;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.add-task button:hover {
  background-color: #417f6c;
  border-color: #417f6c;
}
.tasks {
  margin-top: 45px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.task {
  padding: 8px 10px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5ca08e;
  color: white;
  font-size: 18px;
}
.delete-task {
  cursor: pointer;
  color: #ff6b6b;
  transition: color 0.3s ease;
}
.delete-task:hover {
  color: #ff2e2e;
}
