* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("mountain.jpg");
  background-size: cover;
}
#background {
  position: absolute;
  inset: 0;
  background-color: rgba(15, 60, 143, 0.2);
}
.container {
  width: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background-color: #ffffff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  z-index: 40;
}
.search {
  width: 100%;
  display: flex;
  align-items: center;
}
.search input {
  width: 100%;
  padding: 12px 6px;
  background-color: #f3f4f6;
  outline: none;
  border: none;
}
.search button {
  padding: 12px 6px;
  border: none;
  background-color: #3b82f6;
  min-width: 80px;
  cursor: pointer;
  transition: background 0.3s ease-in-out;
}
.search button i {
  color: white;
}
.search button:hover {
  background-color: #2563eb;
}
.header {
  text-align: center;
}
.weather {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
}
#weather-temperature {
  font-size: 80px;
  font-weight: bold;
}
#weather-type {
  display: flex;
  gap: 10px;
}
.weather-info {
  width: 90%;
  display: flex;
  justify-content: space-between;
  background-color: gray;
  border-radius: 100px;
  text-align: center;
  padding: 15px;
  margin-bottom: 40px;
}
@media (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0 10px;
  }
}
